/* Your styles goes here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    width: 900px;
    border: 1px solid #000000;
    padding-top: 40px;
    margin-top: 40px;
}

h1 {
    margin: 0 auto;
    padding-bottom: 40px;
}

.header-input {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

input[type=text] {
    width: 83%;
    border: 1px solid #000000;
    height: 40px;
    margin-left: 40px;
}

input::placeholder {
    color: #999999;
    padding-left: 4px;
    font-size: 16px;
}

.addbutton {
    font-size: 44px;
    margin-right: 40px;
}

hr {
    margin: 20px 40px 20px 20px;
    width: 90%;
    background: #000000;
    height: 2px;
}

.list-action {
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 200px;
    margin-top: 20px;
}

.container-img {
    width: 100px;
    margin: 0 auto;
}

img {
    margin: 100px 0 20px 0;
    width: 100%;
}

.list {
    margin-right: 50px;
    align-items: center;
    cursor: move;
    margin-bottom: 5px;
}

.button {
    margin-left: auto;
}

ul {
    display: flex;
    flex-direction: column;
}

.item-style i:nth-child(2) {
    margin: 45px;
}

li {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    margin-left: 45px;
}

input[type=checkbox] {
    display: none;
    margin: 0;
}

.mark,
.delete {
    font-size: 36px;
    cursor: pointer;
}

.delete {
    margin-left: auto;
    margin-right: -8px;
}

span {
    align-self: center;
    font-size: 20px;
    margin-left: 10px;
}

button {
    border: none;
    background: none;
}

#warning-message {
    margin: 0 auto;
    color: red;
    display: none;
}