$contentBackground: #dbd8d8;
$fontColor:#e98a1d;
$backgroundMainBlock:#ffffff;
$colorForP:#000000;
$h3ColorText:#4d4031;
$h1h4ColorText:#e98a1d;
$borderColor:#999999;
$colorForDate:#999999;
$footerSubmitColorText:#ffffff;
$footerSubmitBackground:#e98a1d;
$mainFont:'Roboto',
sans-serif;
$backgroundSearch:#dbd8d8;