$contentBackground: #fff;
$fontColor:#4a80be;
$backgroundMainBlock:#dbd8d8;
$colorForP:#646d77;
$h3ColorText:#5a92d3;
$h1h4ColorText:#5a92d3;
$borderColor:#999999;
$colorForDate:#96b180;
$footerSubmitColorText:#ffffff;
$footerSubmitBackground:#5a92d3;
$mainFont:'Roboto',
sans-serif;
$backgroundSearch:#fff;